﻿@model NumberGuessingGame.Models.GuessViewModel

@using(Html.BeginForm())
{
   
    <div>
        @Html.ValidationSummary(false, "Rätta det som är fel:")
    </div>
     
    @Html.LabelFor(model => model.Guess);
    @Html.EditorFor(model => model.Guess);
    
    <input type="submit" value="Gissa" /> 
}