﻿@model NumberGuessingGame.Models.SecretNumber


@switch (Model.LastGuessedNumber.Outcome)
{
    case NumberGuessingGame.Models.Outcome.Indefinite:
        <p>@Model.LastGuessedNumber.Number</p>
        break;
    case NumberGuessingGame.Models.Outcome.Low:
        <p>@Model.LastGuessedNumber.Number är för lågt.</p>
        break;
    case NumberGuessingGame.Models.Outcome.High:
        <p>@Model.LastGuessedNumber.Number är för högt</p>
        break;
    case NumberGuessingGame.Models.Outcome.Right:
        <p>@Model.LastGuessedNumber.Number är rätt, du klarade det på @Html.Partial("GuessCountTotext")</p>
        @Html.ActionLink("Slumpa nytt hemligt tal", "Index")
        break;
    case NumberGuessingGame.Models.Outcome.NoMoreGuesses:
        <p>Du har inga fler gissningar. Det hemliga talet är @Model.Number</p>
         @Html.ActionLink("Slumpa nytt hemligt tal", "Index")
        break;
    case NumberGuessingGame.Models.Outcome.OldGuess:
        <p>Du har redan gissat på @Model.LastGuessedNumber.Number</p>
        break;
    default:
        break;
} 
    
    
    
